.topbar {
	position: relative;
	z-index: 1;
	.navbar {
		background-color: @primary;
		.logo {
			max-width: 45px;
		}
		.app-name {
			line-height: 2.5rem;
			border-left: 3px solid @white;
		}
		.dropdown-toggle::after {
			color: @white;
			border-top: 0.8em solid;
			border-right: 0.6em solid transparent;
			border-left: 0.6em solid transparent;
		}
		.navbar-toggler {
			&:focus,
			&:hover {
				outline: none !important;
				box-shadow: none !important;
			}
			.navbar-toggler-icon {
				color: @white;
				.line {
					border: 1px solid white;
					margin: 7px 0;
				}
			}
		}
		.dropdown {
			.dropdown-menu {
				top: 110%;
				right: 0;
				min-width: 280px;
				left: auto;
				border: none;
				border-radius: 0;
				.dropdown-item {
					.icon {
						width: 22px;
						filter: grayscale(100%);
						transition: 0.3s;
					}
					&:hover {
						.icon {
							filter: grayscale(0%);
						}
						a {
							color: @gray;
						}
					}
				}
			}
			.dropdown-masked {
				display: none;
				position: fixed;
				top: 0;
				right: 0;
				width: 100vw;
				height: 100vh;
				background: @black;
				opacity: 0.5;
				z-index: -1;
			}
			&.show {
				.dropdown-masked {
					display: block;
				}
			}
		}
		.user-icon {
			img {
				max-width: 40px;
			}
		}
	}
}
