.topbar {
  position: relative;
  z-index: 1;
}
.topbar .navbar {
  background-color: #033249;
}
.topbar .navbar .logo {
  max-width: 45px;
}
.topbar .navbar .app-name {
  line-height: 2.5rem;
  border-left: 3px solid #fff;
}
.topbar .navbar .dropdown-toggle::after {
  color: #fff;
  border-top: 0.8em solid;
  border-right: 0.6em solid transparent;
  border-left: 0.6em solid transparent;
}
.topbar .navbar .navbar-toggler:focus,
.topbar .navbar .navbar-toggler:hover {
  outline: none !important;
  box-shadow: none !important;
}
.topbar .navbar .navbar-toggler .navbar-toggler-icon {
  color: #fff;
}
.topbar .navbar .navbar-toggler .navbar-toggler-icon .line {
  border: 1px solid white;
  margin: 7px 0;
}
.topbar .navbar .dropdown .dropdown-menu {
  top: 110%;
  right: 0;
  min-width: 280px;
  left: auto;
  border: none;
  border-radius: 0;
}
.topbar .navbar .dropdown .dropdown-menu .dropdown-item .icon {
  width: 22px;
  filter: grayscale(100%);
  transition: 0.3s;
}
.topbar .navbar .dropdown .dropdown-menu .dropdown-item:hover .icon {
  filter: grayscale(0%);
}
.topbar .navbar .dropdown .dropdown-menu .dropdown-item:hover a {
  color: #979797;
}
.topbar .navbar .dropdown .dropdown-masked {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0.5;
  z-index: -1;
}
.topbar .navbar .dropdown.show .dropdown-masked {
  display: block;
}
.topbar .navbar .user-icon img {
  max-width: 40px;
}
.notifications .documents .document {
  color: gray;
}
.notifications .documents .document img {
  max-width: 60px;
}
.notifications .documents .document p {
  color: #979797;
}
.notifications .days {
  min-height: 150px;
}
.notifications .days .day .circle {
  max-width: 150px;
  border-radius: 100%;
  border: 8px solid #033249;
}
.notifications .days .day .count {
  color: #033249;
}
.notifications .days .day p {
  color: #979797;
}
.tables .table {
  border-top: none !important;
  border-bottom: 1px solid #dee2e6;
}
.approved-documents .approved-doc-list .approved-doc-item .wrapper {
  background-color: #e7e7e7;
}
.approved-documents .approved-doc-list .approved-doc-item .wrapper .img-wrapper {
  background-color: #fff;
}
.approved-documents .approved-doc-list .approved-doc-item .wrapper .doc-title {
  cursor: pointer;
}
.approved-documents .approved-doc-list .approved-doc-item .wrapper .remarks {
  color: #979797;
}
.footer {
  background-color: #033249;
}
.btn.focus,
.btn:focus,
div:focus,
div:hover {
  outline: none !important;
  box-shadow: none !important;
}
.container {
  max-width: 1300px;
}
